---
---
<p>
  Under Construction.
  Will soon be updated to contain my cooking notes and recipes.

</p>
<p>
  I will be going around cuisines in a round robin fashion.
  Current target cuisines are:

</p>

<ul>
  <li>Mediterrenean </li>
  <li>Indian: Biryani, butter chicken </li>
  <li>Chinese: Kung pao chicken, orange chicken, fried rice </li>
  <li>Italian: Pasta arbiata, Pasta alfredo, Sphagetti meatballs, Spagetti bolognese </li>
  <li>American: Burger, Steak and mashed potatoes (DONE) </li>
</ul>
