---
title: Blossom Metevier
layout: default
---

<div class=" ma5-ns">
    <div class="fl w-100-m w-third-ns pa1 br5">
        <img alt="Blossom Metevier" src="/images/Blossom2.jpg" />
    </div>
    <div class="fl w-100-m w-two-thirds-ns pl3-l center-m ">

       <p>
		    I am a graduate student in the 
			<a href="http://www-anw.cs.umass.edu/">Autonomous Learning Lab</a> at the <a href="http://www.umass.edu/">University of Massachusetts, 
			Amherst</a>, where I am co-advised by <a href="http://psthomas.com/">Phil Thomas</a>
			and <a href="http://faculty.hampshire.edu/lspector/">Lee Spector</a>. 
			Before attending UMass, I was a member of the Force Projection 
			Sector at 
			<a href="http://www.jhuapl.edu/">APL</a>. I completed my undergraduate 
			degree in Computer Science from the
			<a href="https://www.umbc.edu/">University of Maryland, Baltimore County</a>.
        </p>
        <p>
			My research area is in reinforcement learning and 
			<a href="http://geneticprogramming.com/">genetic programming</a>.
			In particular, I am interested in the development of
			self-organizing agents whose resulting structure allows for robust
			performance in complex environments. I believe that some important
			problems in reinforcement learning, including task generalization and 
			coping with high-dimensional state and/or action space, can be alleviated
			using evolutionary methods. I am also interested in nonconvex optimization
			and blackbox optimization algorithms. Currently, I am working on 
			applications of fairness in the contextual bandit setting with high 
			probability guarantees. 
			
		</p>

        <p>
            Apart from the grad student grind, I enjoy running and reading. I love 
			Hemmingway's theory of omission and Ursula Guin's alternative worlds, 
			though in general I tend towards fantasy. I am also a fan of the DC 
			universe, specifically the Teen Titans, and I follow a number of 
			Japanese comics. I workout often and like spending time outdoors when
			it is warm. Many activities are appealing to me, including running, 
			badminton, lifting, and kayaking.
		</p>

        <p>
            Contact information: <b>bmetevier</b> [at] <b>cs</b> 
								[dot] <b>umass</b> [dot] <b>edu</b>
        </p>


    </div>
</div>
